.sidebar {
    background-color: $color-primary;
    grid-area: 1 / sidebar-start / -1 / sidebar-end;

    //flexbox is used to center the lines
    display: flex;
    justify-content: center;

    @media screen and (max-width: $bp-large) {
       grid-column: 1 / -1;
       grid-row: 1 / 2;
       justify-content: flex-end;
       align-items: center;
        }
}

.nav-btn {
    border: none;
    border-radius: 0;

    background-color: #fff;
    height: .2rem;
    width: 4.5rem;
    margin-top: 4rem;

    &::before,
    &::after {
        content: "";
        background-color: #fff;
        height: .2rem;
        width: 4.5rem; 
        display: block;
    }

    &::before {
        transform: translateY(-1rem);
    }

    &::after {
        transform: translateY(1rem);
    }

    @media screen and (max-width: $bp-large) {
        margin: 2.5rem;
        }
}